# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/snapshot/20201214-Network_Res2Net_GRA_NCD/

# 忽略 dataset/ 下的所有文件，但保留目录和占位文件
dataset/*
!dataset/.gitkeep

# 忽略 snapshot/ 下的所有文件，但保留目录和占位文件
snapshot/*
!snapshot/.gitkeep

# 忽略res/ 下的所有文件，但保留目录和占位文件
res/*
!res/.gitkeep